    <!-- Modal (external ./partials/modal.html or inline ng-template) -->
    <div class="modal-header" style="background: #ffffff;">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>About</h3>
    </div>
    <div class="modal-body" style="background: linear-gradient(white, silver);">

        <h2 style="margin-top:10px;"><strong>Blast Map</strong> is a blast simulator created using Google Maps and the Ground Zero javascript library.</h2>
        <p>It was also hacked together using portions of, or whole, libraries including</p>
        <div style="width:100%; margin-top:50px; text-align:center;">
            <ul style="list-style: none;">
                <li style="display: inline;"><a href="http://mgcrea.github.com/angular-strap/">AngularStrap </a></li>
                <li style="display: inline;">|</li>

                <li style="display: inline;"><a href="http://fortawesome.github.com/Font-Awesome/"> Font-Awesome </a></li>
                <li style="display: inline;">|</li>
                <li style="display: inline;"><a href="http://nlaplante.github.com/angular-google-maps/">Angular Google Maps</a></li>
            </ul>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn" ng-click="dismiss()">Close</button>
    </div>





