

<!--<div class="hero-unit hero-carbon" style="text-align: center">

</div>-->
<div style="text-align: center; padding-left:25%; padding-right:25%;">
    <h1 style="margin-bottom:50px; margin-top:50px; font-size:8em;">Blast Map</h1>

    <hr/>
    <h2 style="margin-top:50px;"><strong>Blast Map</strong> was hacked together by James Muir. The source is available on <a href="https://github.com/jamesamuir/blastmap.git">Github</a></h2>
    <div class="text-center" style="width:100%; margin-top:50px;">
        <ul style="list-style: none;">
            <li style="display: inline;"><img src="./theme/img/google.png" alt="Google" /></li>

            <li style="display: inline; padding-left:20px;"><img src="./theme/img/facebook.png" alt="Facebook" /></li>

            <li style="display: inline; padding-left:20px;"><img src="./theme/img/twitter.png" alt="Twitter" /></li>
        </ul>
    </div>

</div>


