<!-- Modal (external ./partials/modal.html or inline ng-template) -->
<div class="modal-header" style="background: #ffffff;">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>About</h3>
</div>
<div class="modal-body" style="background: linear-gradient(white, silver);">

    <h2><strong>Blast Map</strong> was hacked together by James Muir. The source is available on <a href="https://github.com/jamesamuir/blastmap.git">Github</a>.
        You can connect with me via the following avenues.</h2>

    <div style="width:100%; margin-top:50px; text-align:center;">
        <ul style="list-style: none;">
            <li style="display: inline;"><img src="./theme/img/google.png" alt="Google" /></li>

            <li style="display: inline; padding-left:20px;"><img src="./theme/img/facebook.png" alt="Facebook" /></li>

            <li style="display: inline; padding-left:20px;"><img src="./theme/img/twitter.png" alt="Twitter" /></li>
        </ul>
    </div>

</div>
<div class="modal-footer">
    <button type="button" class="btn" ng-click="dismiss()">Close</button>
</div>


