<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">




            <div class="accordion" id="accordion2">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                            Game Options
                        </a>
                    </div>
                    <div id="collapseOne" class="accordion-body collapse in" ng-controller="GameSettingsCtrl">
                        <div class="accordion-inner">



                            <form novalidate ng-show="!gamesettings.gamestarted">

                                <div class="control-group">
                                    <div class="control-label" for="inputName">Name</div>
                                    <div class="controls">
                                        <input type="text" id="inputName" placeholder="Name" ng-model="name" required>
                                        <div class="input-help">
                                            <h4>Invalid Name</h4>
                                        </div>
                                    </div>
                                </div>


                                <div class="control-group">
                                    <label class="control-label" for="inputLocation">Start Location</label>
                                    <div class="controls">

                                        <input type="text" id="inputLocation" placeholder="Location" ng-model="location.address" ng-disabled="true" required>
                                        <div class="input-help">
                                            <h4>Start Location Required</h4>
                                        </div>


                                    </div>
                                    <div class="controls">
                                        <button class="btn btn-location-search" bs-modal="'partials/search.html'" bs-modal-show="false">Search</button>
                                    </div>
                                </div>


                                <div class="control-group">
                                    <div class="controls">
                                        <button type="submit" class="btn btn-submit" ng-click="startGame()">Start Game</button>
                                        <button class="btn btn-submit" disabled>Start Game</button>
                                    </div>
                                </div>
                            </form>





                            <div ng-show="gamesettings.gamestarted">
                                <div>
                                    <i class="icon-user icon-2x"></i> <strong style="padding-left: 10px;">{{name}}</strong>
                                </div>
                                <div>
                                    <i class="icon-globe icon-2x"></i><strong style="padding-left: 10px;">{{ location.address }}</strong>
                                    <br/>
                                    <strong style="padding-left: 40px; display:block;" ng-show="location.lat != null">lat: {{ location.lat | number:5 }}</strong>
                                    <br/>
                                    <strong style="padding-left: 40px; display:block;" ng-show="location.lng != null">lng: {{ location.lng | number:5 }}</strong>
                                </div>
                                <br/>
                                <br/>

                                <span>
                                    <label>Currently Playing</label>
                                    <div style="border: 1px solid #FFFFFF;">
                                        <ul>
                                            <li ng-repeat="user in users">{{user.name}}</li>
                                        </ul>
                                    </div>
                                </span>


                            </div>
                        </div>
                    </div>
                </div>



                <div  class="accordion-group" >
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                            Control Panel
                        </a>
                    </div>
                    <div id="collapseTwo" class="accordion-body collapse">
                        <div class="accordion-inner">

                            <div>

                                --{{test}}--


                            </div>


                        </div>
                    </div>
                </div>
            </div>

        </div>





        <div class="span9">
            <div class="google-map"
                 center="centerProperty"
                 centerlabel="centerLabelProperty"
                 zoom="zoomProperty"
                 markers="markersProperty"
                 polygons="polygonsProperty"
                 latitude="clickedLatitudeProperty"
                 longitude="clickedLongitudeProperty"
                 draggable="true"
                 style="height: 1000px; width: 100%">
            </div>
        </div>


    </div>
</div>




