<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2">
            <!--Sidebar content-->
        </div>
        <div class="span10">
            <div class="google-map"
                 center="centerProperty"
                 centerlabel="centerLabelProperty"
                 zoom="zoomProperty"
                 markers="markersProperty"
                 polygons="polygonsProperty"
                 latitude="clickedLatitudeProperty"
                 longitude="clickedLongitudeProperty"
                 draggable="true"
                 style="height: 1000px; width: 100%">
            </div>
        </div>
    </div>
</div>





