

<!-- Modal (external ./partials/modal.html or inline ng-template) -->
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Search for a Location</h3>
</div>
<div class="modal-body" ng-controller="SearchLocationCtrl">





    <form class="row form-horizontal" novalidate >
        <div class="control-group">
            <label class="control-label" for="inputLocation">Location</label>
            <div class="controls">
                <input type="text" id="inputLocation" placeholder="Location" ng-model="form.location" required>
                <div class="input-help">
                    <h4>Location is required</h4>
                </div>
            </div>
        </div>


        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-submit" ng-click="searchLocation()">Search</button>
                <button class="btn btn-submit" disabled>Search</button>
            </div>
        </div>





    </form>


            <table ng-show="searchResults.found" class="table table-striped">
                <tr ng-repeat="item in searchResults.items">
                    <td><i class="icon-plus-sign icon-2x" ng-click="setSelectLocation($index)"></i></td>
                    <td>{{item.address}}</td>
                    <td></td>
                </tr>
            </table>



</div>
